{{> head}}
{{> navbar}}

<div class="container mt-4">
  <div class="row">
    <div class="col-4">
      <img src="#" class="img-content" alt="">
    </div>
    <div class="col-8">
      <div class="text-title-content mb-4">Wisata Vaksin Sambil Lihat Air Terjun</div>
      <div class="text-desc-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus non ante a pulvinar. Donec bibendum consectetur ligula sollicitudin varius. Vivamus ac lorem eget ipsum blandit imperdiet et at elit. Quisque sit amet urna quis massa pharetra sagittis et vel urna. Donec fringilla iaculis felis, ac cursus turpis semper vel. In hac habitasse platea dictumst.
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-3 content-list">
      <a href="/article/1">
        <img src="#" class="img" alt="content thumbnail">
        <div class="title mt-3">
          Nulla non facilisis eros. Nullam sagittis risus sit amet ex lacinia, ut efficitur nulla molestie.
        </div>
      </a>
    </div>
  </div>
</div>